@import '../../variables.scss';
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $color-border-dark;
  margin-bottom: 1rem;
  > a {
    line-height: 1.5rem;
  }

  &:last-child {
    border-bottom: none;
  }
}
.gallery {
  margin: 1.5rem auto 0.5rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  // max-width: 100%;

  > img {
    // width: 100%;
    flex: 0 1 20%;
    width: 23%;

    // max-height: 250px;
    margin: 0.15rem 0.15rem;
    border: 1px solid $color-border-dark;
  }
  > img:only-child {
    max-width: 350px;
    flex: 1 1 auto;
    margin: 0.15rem 0.15rem;
    border: 1px solid $color-border-dark;
  }
}

.techStack {
  align-self: center;
}

@media only screen and (min-width: 520px) {
  .gallery {
    > img {
    }
  }
}

@media only screen and (min-width: 768px) {
  .project {
    width: calc(100% / 2);
    padding: 1.5rem 2rem;
    flex: 1 1 auto;
    border: none;
  }
  .gallery {
    width: 100%;
    > img {
    }
  }
}
@media only screen and (min-width: 1200px) {
  .project {
    width: calc(100% / 3);
    flex: 1 1 auto;
    border: none;
  }
  .gallery {
    width: 100%;
    > img {
    }
  }
}

@media only screen and (min-width: 1600px) {
}
