@import '../../variables.scss';
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $color-border-dark;
  margin-bottom: 1rem;
  margin-top: 1rem;
  > a {
    line-height: 1.5rem;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }
  .project__description {
    align-self: flex-start;
  }

  &:last-child {
    border-bottom: none;
  }
}

.project__links {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  > a {
    margin: 0.25rem 0.25rem;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border: 1px solid $color-primary;

    &:hover {
      border-color: $color-secondary;
    }
  }
}

.gallery {
  margin: 1.5rem auto 0.5rem auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  max-height: 350px;

  > img {
    flex: 1 1 30%;
    width: 100%;
    max-height: 350px;

    // max-height: 250px;
    margin: 0.15rem 0.15rem;
    border: 1px solid $color-border-dark;
  }
  > img:only-child {
    max-width: 350px;
    flex: 1 1 auto;
    margin: 0.15rem 0.15rem;
    border: 1px solid $color-border-dark;
  }
}

.techStack {
  align-self: center;
}

@media only screen and (min-width: 520px) {
  .gallery {
    > img {
    }
  }
}

@media only screen and (min-width: 768px) {
  .project {
    // width: calc(100% / 2);
    width: 100%;
    flex-direction: row;
    flex: 1 1 auto;

    > div {
      flex: 1 1 50%;
    }

    .project__details {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .project__links {
    align-self: center;
  }
  .gallery {
    > img {
    }
  }
}
@media only screen and (min-width: 1200px) {
  .project {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (min-width: 1600px) {
}
