.about {
  max-width: 800px;
}

.about__skills {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.about__skill-group {
  width: 150px;
  margin: 0.5rem 1rem;
  flex: 0 0 150px;
}

@media only screen and (min-width: 1200px) {
  .about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
