@import '../../variables.scss';

#landing-page {
  padding-top: 20vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

.landing__logo {
  border: 1.5px solid $color-border-dark;
  width: 40%;
  max-width: 200px;
}

.landing__title {
  color: $color-font-normal;
}

.landing__desc {
  color: $color-font-normal;
}
