@import '../../variables.scss';

.contact-page {
  ul li {
  }
}

#contact-form {
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 0;
    // margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 800px;

    legend {
    }

    label {
      margin: 1rem 0 0.5rem 0;
    }
  }
}

input {
  margin: 0.5rem 0;
  margin: 0;
  line-height: 1.5rem;
  padding: 0.5rem 0.5rem;
  background-color: $color-background;
  border: 1px solid $color-border-dark;
  outline: none;
  box-shadow: none;
  color: $color-font-normal;
  font-weight: 100;
  align-self: center;
  width: 100%;

  &.contact__input--touched:required:invalid {
    border: 1px solid $color-tertiary;
  }

  &.contact__input--touched:invalid {
    border: 1px solid $color-tertiary;
  }
  // &:invalid {
  //   border: 1px solid $color-tertiary;
  // }

  &:invalid:focus {
    // border: 1px solid $color-tertiary;
  }

  &:focus {
    border: 1px solid $color-primary;
  }

  &[type='submit'] {
    width: 100px;
    margin: 0 auto;
  }
}

textarea {
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem 0.5rem;
  line-height: 1.5rem;
  background-color: $color-background;
  border: 1px solid $color-border-dark;
  outline: none;
  box-shadow: none;
  color: $color-font-normal;
  font-weight: 100;

  align-self: center;
  width: 100%;
  &.contact__input--touched:required:invalid {
    border: 1px solid $color-tertiary;
  }

  &.contact__input--touched:invalid {
    border: 1px solid $color-tertiary;
  }

  &:focus {
    border: 1px solid $color-primary;
  }
}
