.contact-page {
  ul li {
  }
}

#contact-form {
  fieldset {
    display: flex;
    flex-direction: column;
    border: none;

    legend {
    }

    label {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      input {
        margin: 0.5rem 0;
        line-height: 1.5rem;
      }

      textarea {
        margin: 0.5rem 0;
        line-height: 1.5rem;
      }
    }
  }
}
