@import '../../variables.scss';

header {
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $color-font-normal;
  position: fixed;
  top: 0;
  width: 100%;

  h2 {
    font-weight: 300;
    font-size: 24px;
  }

  .banner-logo {
    height: 100%;
    width: 50px;
    margin-right: 1rem;
    border-right: 1px solid $color-font-normal;

    > video {
      height: 100%;
    }
  }
}
