@import '../../variables.scss';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-top: 1px solid $color-border-dark;
  background-color: $color-background;
  height: 40px;
  padding: 1rem;

  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.footer__nav {
  margin: 0;
}

.footer__nav-link {
  font-size: 14px;
  padding: 0.5rem;
  text-decoration: none;
  transition: font-size 300ms ease-out;

  &:hover {
    font-size: 20px;
    transition: font-size 300ms ease-out;
  }

  &--active {
    font-size: 20px;
    color: $color-secondary;
    transition: font-size 300ms ease-out;

    &:focus {
      color: $color-secondary;
    }
  }
}
