.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.page {
  position: absolute;
  border: 2px solid red;
  padding: 0;
  margin: 0 auto;
  // margin-top: 50px;
  width: 100%;
  top: 50px;
  bottom: 50px;
}
