// @import url('https://fonts.googleapis.com/css?family=Fira+Mono|Space+Mono&display=swap');
// @import url('https://use.typekit.net/fbn3ddt.css');
@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  background: url(assets/bg/blocks_c-rs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// axia
// axi-stenci
// rigid-square
// objektiv-mk1
// aktiv-grotesk

body {
  font-family: 'rigid-square', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  line-height: 1.5rem;

  color: $color-font-normal;
}

#root {
  width: 100%;
  position: relative;
  height: 100%;
}

h1 {
  font-family: 'axia', sans-serif;
  font-family: 'rigid-square', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  color: $color-tertiary;
}

h2 {
  font-family: 'axia', sans-serif;
  font-family: 'rigid-square', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: $color-secondary;
}

h3 {
  font-family: 'axia', sans-serif;
  font-family: 'rigid-square', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: $color-primary;
}

h4 {
  font-family: 'axia', sans-serif;
  font-family: 'rigid-square', sans-serif;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
