@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Space+Mono&display=swap');
@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  background: url(assets/bg/blocks_c-rs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Fira Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  line-height: 1.5rem;

  color: $color-font-normal;
}

#root {
  width: 100%;
  position: relative;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
