.projects-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
}
@media only screen and (min-width: 520px) {
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}
